<%= simple_form_for(@cervejaria) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :descricao %>
    <%= f.input :site %>
    <%= f.input :pais_id %>
    <%= f.input :grupocervejaria_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
