<%= simple_form_for(@cerveja) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :descricao %>
    <%= f.input :Brewery_id %>
    <%= f.collection_select :Brewery_id, Brewery.all, :id, :nome %>
    <%= f.input :estilocerveja_id %>
    <%= f.input :pais_id %>
    <%= f.input :importadora_id %>
    <%= f.input :graducao %>
    <%= f.input :temperatura %>
    <%= f.input :site %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
