<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span4"><%= image_tag("http://www.brejas.com.br/cervejas/images/stories/jreviews/248_guinness-1357330251.JPG") %> </div>
  
  <div class="span8"><h1> <%= @cerveja.nome %>  </h1> 

<p>
  <b>Cervejaria:</b>
  <%= @cerveja.cervejaria_id %>
</p>

<p>
  <b>Estilocerveja:</b>
  <%= @cerveja.estilocerveja_id %>
</p>

<p>
  <b><i class="icon-globe"></i> Pais:</b>
  <%= @cerveja.pais_id %>
</p>

<p>
  <b>Importadora:</b>
  <%= @cerveja.importadora_id %>
</p>

<p>
  <b>Graducao:</b>
  <%= @cerveja.graducao %> % ABV
</p>






<p>
  <b>Temperatura:</b>
  <%= @cerveja.temperatura %>
</p>

<p>
  <b>Site:</b>
  <%= @cerveja.site %>
</p>

  </div>
</div>





<p>
  <b>Descricao:</b>
  <%= @cerveja.descricao %>
</p>




<%= link_to 'Edit', edit_cerveja_path(@cerveja) %> |
<%= link_to 'Back', cervejas_path %>
