<h1>Listing beerstyles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beerstyles.each do |beerstyle| %>
  <tr>
    <td><%= beerstyle.name %></td>
    <td><%= beerstyle.description %></td>
    <td><%= link_to 'Show', beerstyle %></td>
    <td><%= link_to 'Edit', edit_beerstyle_path(beerstyle) %></td>
    <td><%= link_to 'Destroy', beerstyle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beerstyle', new_beerstyle_path %>
